/*----------------------
    RESET
-----------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------
    GENERAL
-----------------------*/
body {
    background-color: #ccc;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

.btn {
    background: transparent;
    border: 1px solid;
    padding: 10px;
    border-radius: 6px;
    margin: 3px;
}

.btn-blue {
    background-color: #14AAF5;
    color: #ffffff;
    border-color: #14AAF5;
}

.btn-white {
    background-color: white;
    color: lightgray;
    border-color: #white;
}

.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    border: 1px solid green;
    border-radius: 100%;
    color: green;
    /* padding: 10px; */
}

.tag {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 12px;
}

.tag-blue {
    background-color: #14AAF5;
    
}









/*----------------------
    PAGE HEADER 
-----------------------*/

header {
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 40px;
}

.logo {
    vertical-align: middle;
}


/*----------------------
    PAGE MAIN
-----------------------*/
main {
    background-color: #ffffff;
    width: 800px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}